<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SubmitFormServlet</servlet-name>
        <servlet-class>Controller.SubmitFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFormServlet</servlet-name>
        <servlet-class>Controller.EditFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestsServlets</servlet-name>
        <servlet-class>Controller.RequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToApprovalPageServlet</servlet-name>
        <servlet-class>Controller.ToApprovalPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendApprovedServlet</servlet-name>
        <servlet-class>Controller.SendApprovedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMoreInfoPageServlet</servlet-name>
        <servlet-class>Controller.ToMoreInfoPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToAdminServlet</servlet-name>
        <servlet-class>Controller.ToAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMoreInfoServlet</servlet-name>
        <servlet-class>Controller.SendMoreInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitFormServlet</servlet-name>
        <url-pattern>/submitForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestsServlets</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToApprovalPageServlet</servlet-name>
        <url-pattern>/approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendApprovedServlet</servlet-name>
        <url-pattern>/sendReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMoreInfoPageServlet</servlet-name>
        <url-pattern>/moreInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFormServlet</servlet-name>
        <url-pattern>/editForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToAdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMoreInfoServlet</servlet-name>
        <url-pattern>/sendMoreInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>jdbc:mysql://localhost:3306/AssetDB?zeroDateTimeBehavior=convertToNull</description>
        <res-ref-name>AssetDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
